/* General */
body {
  background-color: #36393e;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar --------------------------------------------------- */
nav {
  z-index:1;
  background-color: #282b30;
  padding: 25px;
  position: sticky;
  top: 0px;
}

#navH1 {
  color: white;
  background-color: #7289da;
}

#profilePic {
  border: 2px solid #7289da;
}

.active {
  background-color: rgb(92 107 192 / 1);
}

.active:hover {
  background-color: rgb(165 180 252 / 0.8);
}

#logo {
  width: 150px;
  left: 0;
}


/* Members ---------------------------------------------------------- */
#profGrid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  row-gap: 30px;
}

#profCard {
  background-color: #424549;
}

#profCard:hover {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
}

#profRole {
  color: #7289DA;
}

#readBtn {
  padding: 0px;
}

#readBtn a{
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#gif13 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

svg {
  margin: 0;
}


/* Homepage ----------------------------------------------- */
#homeContent {
  background-color: #5865f2;
  padding-top: 20px;
  padding-bottom: 0px;
}

#home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#homeH1 {
  text-align: center;
  margin: 50px;
  color: white;
  font-size: 60px;
  font-weight: bolder;
}

#homeParag {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}

#homeImg {
  margin-top: 0px;
  border-radius: 10px;
  margin-left: 50px;
  width: 20%;
  justify-self:right;
}

/* Profile ----------------------------------------------------- */
#profMain {
  background-color: #424549;
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 30px;
}

#detailPic {
  margin: 0px auto;
  border: 5px solid #7289DA;
}

#detailH1 {
  color: white;
  margin: 10px auto;
  margin-bottom: 0px;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

#detailRole {
  margin-bottom: 20px;
  color: #7289da;
  font-weight: bold;
  text-align: center;
}

#detailDesc {
  color: white;
  text-align: center;
}

#backBtn {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}


/* About Us ------------------------------------------------------- */ 
#sect1 {
  color: white;
  background-color: #5865f2;
  padding: 50px;
  text-align: center;
}

#sect1 h1 {
  font-size: 40px;
  font-weight: bolder;
}

#sect2 {
  color: white;
  background: #36393e;
  padding: 50px;
  padding-bottom: 0;
}

#sect3 {
  color: white;
  background: #424549;
  padding: 40px;
  padding-bottom: 10px;
}

#sect2 h1, #sect3 h1 {
  font-size: 40px;
  font-weight: bolder;
}

#pepeCalm, #pepeSlav {
  height: 400px;
}

#art1 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 200px;
}

#art1 p {
  width: 80%;
}

#art2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  text-align: right;
  margin-bottom: 40px;
  gap: 10px;
}

#art2 p {
  margin-left: auto;
  width: 70%;
}

/* Memories ------------------------------------------------------- */
iframe {
  border: 4px solid #7289DA;
  border-radius: 10px;
}

#memH1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

#memDesc {
  font-size: 16px;
}

#memMembers {
  color: #7289DA;
  margin-top: 40px;
}

#memImages {
  margin-left: 10px;
}

.Collapsible {
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 0px;
}

.Collapsible__trigger {
  display: block;
  background-color: #5865f2;
  padding: 15px;
  border-radius: 10px;
}

.Collapsible__trigger:hover {
  background-color: #7289DA;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.Collapsible__trigger:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  display: block;
  float: right;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open::after {
  transform: rotateZ(180deg);
}

.Collapsible__contentInner {
  display: flex;
  gap: 40px;
  background-color: #424549;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

#memTable {
  margin: 0 auto;
}

#memImg {
  width: 200px;
}

th {
  color: #7289DA;
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  background-color: #424549;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

td:first-child { 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
}

td:last-child { 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
}


/* Scrollbar ------------------------------------------------------ */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #424549; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289da; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #869adf;
}


/* Responsive design ----------------------------------------------- */
@media only screen and (max-width: 1000px) {
  #art1 {
    margin-left: 50px;
  }
  #art2 {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 700px) {
  #pepeCalm, #pepeSlav {
    height: 300px;
  }
}

@media only screen and (max-width: 560px) {
  #pepeSlav {
    height: 200px;
  }
  #pepeCalm {
    height: 200px;
  }
  #art1 {
    margin-left: 0;
  }
  #art2 {
    margin-right: 0;
  }
  #art1 h1 {
    font-size: 25px;
  }
  #art2 h1 {
    font-size: 25px;
  }
  #art1 p {
    width: 100%;
  }
  #art2 p {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    padding: 5px;
  }
  #profGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  #profCard {
    background-color: #424549;
  }
  #detailPic {
    width: 150px;
    height: 150px;
  }
  #homeImg {
    width: 40%;
  }
}

@media only screen and (max-width: 445px) {

  #art1 h1 {
    font-size: 20px;
  }
  #art2 h1 {
    font-size: 20px;
  }
  #art1 p {
    font-size: 13px;
  }
  #art2 p {
    font-size: 13px;
  }

}

@media only screen and (max-width: 400px) {

  #profGrid {
    margin: 20px;
  }
  
  #profCard {
    width: 100%;
  }

  #headerImg {
    height: 150px;
  }

}

@media only screen and (max-width: 400px) {

  #art1 h1 {
    font-size: 18px;
  }
  #art2 h1 {
    font-size: 18px;
  }
  #art1 p, #art2 p {
    font-size: 11px;
  } 

}